[submodule "data/datasets/SNSX"]
	path = data/datasets/SNSX
	url = https://github.com/OpenNeuroDatasets/ds004470.git
	datalad-id = 2f76dcb8-aa3b-4828-a2ff-ea43a5d6d749
	datalad-url = https://github.com/OpenNeuroDatasets/ds004470.git
[submodule "data/templates/tpl-fsaverage"]
	path = data/templates/tpl-fsaverage
	url = https://github.com/afids/tpl-fsaverage.git
	datalad-id = 22e3d07e-1915-11e9-a3af-64006a8a730f
	datalad-url = https://github.com/afids/tpl-fsaverage.git
[submodule "data/templates/tpl-Agile12v2016"]
	path = data/templates/tpl-Agile12v2016
	url = https://github.com/ataha24/tpl-Agile12v2016.git
	datalad-id = 4bf5e761-9445-46e1-bab1-9772d7d23441
	datalad-url = https://github.com/ataha24/tpl-Agile12v2016.git
[submodule "data/datasets/LHSCPD"]
	path = data/datasets/LHSCPD
	url = https://github.com/OpenNeuroDatasets/ds004471.git
	datalad-id = eb4be7a8-ca95-4a19-8be7-77a89a83f56c
	datalad-url = https://github.com/OpenNeuroDatasets/ds004471.git
[submodule "data/templates/tpl-BigBrainSym"]
	path = data/templates/tpl-BigBrainSym
	url = https://github.com/ataha24/tpl-BigBrainSym.git
	datalad-url = https://github.com/ataha24/tpl-BigBrainSym.git
[submodule "data/templates/tpl-PD25"]
	path = data/templates/tpl-PD25
	url = https://github.com/ataha24/tpl-PD25.git
	datalad-url = https://github.com/ataha24/tpl-PD25.git
[submodule "data/templates/tpl-MNIColin27"]
	path = data/templates/tpl-MNIColin27
	url = https://github.com/afids/tpl-MNIColin27.git
	datalad-id = d1bd584c-6126-401d-9b44-e6e87d7c41b4
	datalad-url = https://github.com/afids/tpl-MNIColin27.git
[submodule "data/templates/tpl-MNI152Lin"]
	path = data/templates/tpl-MNI152Lin
	url = https://github.com/afids/tpl-MNI152Lin.git
	datalad-id = 9375ed5c-d36c-11e8-8ca6-64006a8a730f
	datalad-url = https://github.com/afids/tpl-MNI152Lin.git
[submodule "data/templates/tpl-MNI152NLin2009bAsym"]
	path = data/templates/tpl-MNI152NLin2009bAsym
	url = https://github.com/afids/tpl-MNI152NLin2009bAsym.git
	datalad-id = f8574711-19f1-4e8c-8d87-2cf96c8da515
	datalad-url = https://github.com/afids/tpl-MNI152NLin2009bAsym.git
[submodule "data/templates/tpl-MNI152NLin2009bSym"]
	path = data/templates/tpl-MNI152NLin2009bSym
	url = https://github.com/afids/tpl-MNI152NLin2009bSym.git
	datalad-id = 5cf02050-567a-46e0-be71-edc2dc2ea605
	datalad-url = https://github.com/afids/tpl-MNI152NLin2009bSym.git
[submodule "data/templates/tpl-MNI152NLin2009cAsym"]
	path = data/templates/tpl-MNI152NLin2009cAsym
	url = https://github.com/afids/tpl-MNI152NLin2009cAsym.git
	datalad-id = 5b6cbfac-d23c-11e8-aa11-64006a8a730f
	datalad-url = https://github.com/afids/tpl-MNI152NLin2009cAsym.git
[submodule "data/templates/tpl-MNI152NLin2009cSym"]
	path = data/templates/tpl-MNI152NLin2009cSym
	url = https://github.com/afids/tpl-MNI152NLin2009cSym.git
	datalad-id = 0cf19782-78f1-11ea-a06a-64006a8a730f
	datalad-url = https://github.com/afids/tpl-MNI152NLin2009cSym.git
[submodule "data/templates/tpl-MNI152NLin6Asym"]
	path = data/templates/tpl-MNI152NLin6Asym
	url = https://github.com/afids/tpl-MNI152NLin6Asym.git
	datalad-id = 39d3b374-51b6-11e9-b40c-64006a8a730f
	datalad-url = https://github.com/afids/tpl-MNI152NLin6Asym.git
[submodule "data/templates/tpl-MNI152NLin6Sym"]
	path = data/templates/tpl-MNI152NLin6Sym
	url = https://github.com/afids/tpl-MNI152NLin6Sym.git
	datalad-id = 07c74142-2453-11e9-8322-f45c89af84cb
	datalad-url = https://github.com/afids/tpl-MNI152NLin6Sym.git
