[submodule "data/templates/tpl-Agile12v2016"]
	path = data/templates/tpl-Agile12v2016
	url = git@github.com:ataha24/tpl-Agile12v2016.git
	datalad-id = 4bf5e761-9445-46e1-bab1-9772d7d23441
	datalad-url = git@github.com:ataha24/tpl-Agile12v2016.git
